body { width: 100%; height: 900px; text-align: left; margin-top: 20px; font:12px arial; color: #222; padding:35px;}
textarea { width: 100%; margin-bottom: 10px;}
button {float: right; background-color: navy; color:white} 
select{width:100%;box-sizing:border-box; margin-bottom:10px;}
label {margin-bottom: 0px; color: orange; font-weight: bold;}
legend {background-color: orange; color: white; font-weight: bold; margin: 10px;}
input { width:100%; margin-bottom: 10px; width:100%; box-sizing:border-box; font:12px arial;}
.required:after { content:" *"; }  

form, p, span {
    margin:0;
    padding:0; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }

#prechat{ width: 26%;} 
#chat, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0;}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:scroll; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:center; color: green; font-weight:bold;font-size: larger; display: inline-block;}
.welcome_screen { float:left;}
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.msgBot{ background-color: lightblue; color: red; font-weight:bold;font-size: larger; margin-top:15px;}
.msgMe{ background-color: lightgreen; color: blue; font-weight:bold;font-size: larger; margin-top:15px;}
.chat-buttons{ margin-top: 10px;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 40%;
    width: 25%; /* Full width */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
